<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link rel="stylesheet" href="profile.css">
</head>
<body>
<div class="container" style="padding:0px auto">
    <div class="row justify-content-md-center">
        <div class="col-12 col-sm-8 col-md-8 col-lg-8">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="{{request.user.profile.image.url}}">
                </div>
                <div class="team-content">
                    <h3 class="name">{{request.user.username}}</h3>
                    <h4 class="title">{{request.user.email}}</h4>
                </div>
                <ul class="social">
                    {% for post in posts %}
                        <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>